/*DELETE THIS SECTION -- ONLY FOR STYLING PURPOSES*/
body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
}
/* ----- DELETE THE SECTION ABOVE ------ */

html {
	box-sizing: border-box;
}

/*what does the next line mean*/

*, *:before, *:after {
	box-sizing: inherit;
}

/* Navbar Section */

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.top-navigation .links {
	float:right;
	font-family: 'Roberto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
		letter-spacing: 0.03em;
	-webkit-font-smooting: antialiased;
}

.top-navigation .links li {
	display: inline-block; 
	margin-left: 25px;
	/*font-size: 1.2em;*/
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;	
}

.logo {
	height: 70px;
}

/* Introduction Section */

.introduction {
	background-image: url('../images/first-background.jpg');
	background-repeat: no-repeat;
	height: 735px;
}

.introduction > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.introduction button {
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	margin-top: 25px;
	width: 9.688rem;
	padding: 16px 24px;
	color: white;
	font-size: 1.125rem;
}
