/*DELETE THIS SECTION -- ONLY FOR STYLING PURPOSES*/
/*body {
	background-color: LightGray;
}*/

/*div {
	border: 1px solid Chocolate;
}*/
/* ----- DELETE THE SECTION ABOVE ------ */

html {
	box-sizing: border-box;
}

/*what does the next line mean*/

*, *:before, *:after {
	box-sizing: inherit;
	box-sizing: border-box;
}

/* Navbar Section */

.top-navigation {
	background-color: #fff;
	position:fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #DDD;
}

.top-navigation > .content {
	width: 970px;
	margin: 0 auto;
	height: 4.375rem;
	padding: 0 15px;
	box-sizing: border-box;
}

.top-navigation .links {
	float:right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	letter-spacing: 0.03em;
	-webkit-font-smooting: antialiased;
}

.top-navigation .links li {
	display: inline-block; 
	margin-left: 1.563rem;
	/*font-size: 1.2em;*/
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;	
}

.logo {
	height: 70px;
}

/* Introduction Section */

.introduction {
	background-image: url('../images/first-background.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 45.938rem;
	background-size: cover;
	overflow: auto;
}

.introduction > .content {
	width: 970px;
	margin: 0 auto;
	box-sizing: border-box;
}

.introduction h1, h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.introduction button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	display: inline-block;
	margin: 0 auto;
	background-color: #f15a29;
	border-color: #f15a29;
	margin-top: 1.5rem;
	color: white;
	font-size: 1.125rem;
}

/* why did text align center work for .buttons but not .button? */
.buttons {
	text-align: center;
}

/* Styling for Cases */

.cases > .content {
	width: 970px;
	margin: 0 auto;
	box-sizing: border-box;
	color: #1d1e21;
	text-align: center;
	margin: 126px auto;
}

.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
	font-family: 'Roboto', sans-serif;
}

.cases h2 {
	text-align: center;
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;

}
.cases .devices {
	width: 33.33333%;
	display: inline-block;
	padding: 0 auto;
}

.cases .devices .caption {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0 1.875rem;
}

/* Footer Styling */

.social {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
  overflow: auto;
  padding-bottom: 9.375rem;
  text-align: center;
}

.social > .content {
	min-width: 37.5rem;
	margin: 0 auto;
	padding: 0 0.938rem;
	box-sizing: border-box;
	color: #1d1e21;
	width: 60%;
}

.social hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem 0;
}

h5 {
	font-size: 100%;
}

.social ul li {
	display: inline;
	list-style-type: none;
}

.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}

.social .icons > li:hover {
	cursor: pointer;
}

.social .twitter {
	color: #55acee;
}

.social .facebook {
	color: #4c66a4;
}

.social .instagram {
	color: #3f729b;
}

.social .copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}





